:host{
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  border-style: groove;
  background-color: #29394b;
  padding: 10px;
  color: #e0f2fd;
  margin: 12px 12px 12px 0;
}

h2 {
  padding-left: 5%;
  justify-content: center;
  font-size: 1.6em;
  flex: 1;
}
:host(.restaurant-movies) {
  border-color: rgb(13, 28, 37);
}
:host(.restaurant-movies) > h2 {
  color: #53ace4;
}
:host(.restaurant-series) {
  border-color: #45bf94;
}
:host(.restaurant-series) > h2 {
  color: #45bf94;
}
.tools {
  margin-top: 8px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.favorite {
  width: 24px;
  height: 24px;
  fill: #17e733;
  cursor: pointer;
}
.is-favorite-clicked
{
  fill:red;
}
.favorite.is-favorite {
    fill: #37ad79;
}
.favorite.is-favorite-hovering {
    fill: #bfbd45;
}
.favorite.is-favorite.is-favorite-hovering {
    fill: #ec4342;
}
.delete {
  display: block;
  background-color: #ec4342;
  padding: 4px;
  font-size: .8em;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
}
.details {
  display: block;
  background-color: #37ad79;
  padding: 4px;
  font-size: .8em;
  border-radius: 4px;
  color: #ffffff;
  text-decoration: none;
}
