<h1>Filter By:</h1>
<div class="moved">
  <label>Status :</label>
  <select [(ngModel)]="sortByStatus" >
    <option value='All' selected>All</option>
    <option value="Available">Available </option>
    <option value="Saturated">Saturated</option>
  </select>
<div class="moved">
  <label>Name: </label><input type="text" [(ngModel)]="name">


  <button (click)="search()" >Search </button>
</div>
</div>
<!-- <div>
  <label></label>
  <input type="date" [(ngModel)]="todayDate">
</div> -->

<section>
  <a  *ngFor="let Festival of Festivals">

     <div class="container">

       <app-reservation hidden
        [Festival]="Festival">
      </app-reservation>

       <app-item
        [Festival]="Festival"
        [ngClass]="{'medium-movies':Festival.medium === 'Movies' , 'medium-series':Festival.medium === 'Series'}"
          (delete)="onFestivalDelete($event)">
        </app-item>
     </div>
   </a>
</section>

 <router-outlet></router-outlet>
