<div class="container">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
      <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && reserve()" novalidate class="feedback-form" >
        <!-- Name -->

        <div class="form-group">
          <label for="name">First Name</label>
          <input type="text"
                 id="name"
                 class="form-control"
                 name="name"
                 categoryholder="Your name"
                 [(ngModel)]="client.name"
                 #name="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && name.invalid }"
                 required/>
          <!-- input validation group -->
          <div *ngIf="f.submitted && name.invalid" class="invalid-input">
            <!-- individual validation errors -->
            <div *ngIf="name.errors?.required">Field is required</div>
          </div>
        </div>
         <!-- city -->
         <div class="form-group">
          <label for="city">city</label>
          <input type="text"
                 id="city"
                 class="form-control"
                 name="city"
                 categoryholder="Your city"
                 [(ngModel)]="client.city"
                 #city="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && city.invalid }"
                 required city/>
          <!-- input validation group -->
          <div *ngIf="f.submitted && city.invalid" class="invalid-input">
            <!-- individual validation errors -->
            <div *ngIf="city.errors?.required">Field is required</div>
            <div *ngIf="city.errors?.city">Field is not a valid city</div>
          </div>
        </div>
        <!-- category -->
        <div class="form-group">
          <div>
            <label for="category">Category</label>
            <select type="text"
                   id="category"
                   class="form-control"
                   name="category"
                   categoryholder="Your category"
                   [(ngModel)]="client.category"
                   #category="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && category.invalid }"
                   required category>
                   <option value="1">enfant(10dn)</option>
                   <option value="2">adult(50dn)</option>
                   <option value="2">etudiant(dn)</option>
          </select>
          </div>
          <label for="category">places</label>
          <select type="text"
                 id="category"
                 class="form-control"
                 name="category"
                 categoryholder="Your category"
                 [(ngModel)]="client.places"
                 #category="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && category.invalid }"
                 required category>
                 <option value="1">1 place(dn)</option>
                 <option value="2">2 places(dn)</option>
        </select>
          <!-- input validation group -->
          <div *ngIf="f.submitted && category.invalid" class="invalid-input">
            <!-- individual validation errors -->
            <div *ngIf="category.errors?.required">Field is required</div>
            <div *ngIf="category.errors?.category">Field is not a valid category</div>
          </div>
        </div>


        <button type="submit" class="btn btn-info pull-right" >
          <i class="fa fa-envelope-o"></i>
          <span> Reserve</span>
        </button>

      </form>
      <button class="btn btn-info pull-left"  (click)="goBack()" >
        <i class="fa fa-envelope-o"></i>
        <span> Back</span></button>
    </div>
    <div class="offset-3"></div>
  </div>
</div>>
